.jumbotron {
    background-color:#ff1a1a;
	color: #ffffff;
	padding: 100px 25px;
	font-family: sans-serif;
	text-align: center
}
.container-fluid {
     padding: 40px 50px;
}
.bg-grey {
     background-color: #DCDCDC; 
}
.panel {
    border: 1px solid #EDC45B;
}
.panel: hover {
    box-shadow: 3px 7px 30px #008000;
}
.equipo .panel-heading {
    color: #fff;
    background-color: #F7780F;
    padding: 25px;
    border-bottom: 1px solid;
    border-top-left-radius: 5px;
    border-top-right-radius: 0px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}
.panel-footer {
    background-color: #EDC45B;
}
.panel-footer h4 {
    color: #0C32F5;
    font-size: 15px;
}
@media screen and (min-width:320px) {
	img {
		max-width:100%;
	}	
}	
@media screen and (min-width:768px) {
	img {
		max-width:150px;
	}	
}	
@media screen and (min-width:980px) {
	img {
		max-width:225px;
	}	
}	
@media screen and (min-width:1200px) {
	img {
		max-width:300px;
	}	
}
.menu {
    background-color: #483d8b;
    padding: 5px 0px 14px;
    border: 0;
    font-size: 12px;
    line-height: 1.42;
    letter-spacing: 2px;
    font-family: sans-serif;
}
.menu .navbar-nav li a, .menu .navbar-brand {
    color: #fff;
}
.menu .navbar-nav li a:hover, .menu .navbar-nav li.active a {
    color: #f4511e;
    background-color: #fff;
}
.menu .navbar-default .menu .navbar-toggle {
    border-color: transparent;
    color: #fff;
}
footer .glyphicon {
	font-size: 30px;
	margin-bottom: 10px;
	color: #DAA520;
}

